[submodule "vim-monokai"]
	path = vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "vim-vscode-theme"]
	path = vim-vscode-theme
	url = https://github.com/dunstontc/vim-vscode-theme.git
[submodule "sacredforest-vim"]
	path = sacredforest-vim
	url = https://github.com/KKPMW/sacredforest-vim.git
